

html {
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    width: 100%;
    background-image: url(img/brick-wall.jpeg);
    background-size: auto;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#screen {
    border: 3px solid white;
    padding: 35px;
    border-radius: 20px;
    display: flex;
    background-color: black;
    margin: 50px auto 100px auto;
}

#tittle-container {
    font-family: 'Neonderthaw', cursive;
    font-size: 40px;
    margin-right: 70px;
}

#score-container {
    display: flex;
    margin-left: 70px;
}

.score {
    background-color: white;
    padding: 0px 20px;
    margin: 0px 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    font-family: 'Varela Round', sans-serif;
}

.score p {
    margin: auto 25px;
    row-gap: 20px;
    justify-self: flex-start;
    text-align: center;
    font-size: xx-large;
    font-weight: 700;
}

.score h4 {
    margin: auto 25px;
    row-gap: 20px;
    justify-self: flex-start;
    text-align: center;
    font-size: x-large;
    font-weight: 700;
}


#rock-title {
    color: hotpink;
    margin: 0px 0px -40px 0px;
}

#paper-title {
    color: rgb(43, 43, 255);
    margin: -40px 0px -40px 0px;
}

#scissors-title {
    color: yellow;
    margin: -40px 0px 0px 0px;
}







.button {
    height: 250px;
    width: 250px;
    cursor: pointer;
    border-radius: 50%;
    margin: 25px 30px
    ;
}
#rock {
    border: 25px solid hotpink;
}
#paper {
    border: 25px solid rgb(43, 43, 255);
}
#scissors{
    border: 25px solid yellow;
}